@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-anton: "Anton", "sans-serif";
  --font-oswald: "Oswald", "sans-serif";
  --font-family: "Playfair", serif;
  --font-geist: "Geist", sans-serif;
}

body {
  font-family: var(--font-geist);
}
